@font-face {
    font-family: 'Ashley Crawford';
    src: url(../fonts/AshleyCrawford.woff2) format('woff2'),
        url(../fonts/AshleyCrawford.woff) format('woff'),
        url(../fonts/AshleyCrawford.woff) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#main-footer{
    text-align: center;
    align-self: bottom;
}

html {
    height: 100%;
    margin: 0;
    -webkit-text-size-adjust: 100%;
}

* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
}

a {
    color: inherit;
}

a:visited {
    color: inherit;
}

body {
    padding: 0;
    background: #051C37;
    color: #FFFFFF;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: "Archivo Narrow";
    overflow: hidden;
    position: fixed;
}

#local-time{
    width: 193px;
    height: 44px;
    font-size: 24px;
    margin: 0px auto 0px auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.date {
    font-size: 1vw;
    margin-bottom: 10px;
}

.time {
font-size: 1.5vw;
font-weight: bold;
}

.noscript {
    position: absolute;
    display: flex;
    text-align: center;
    z-index: 9999;
    font-size: 36px;
}

#area {
    backgroundflex-shrink: 0;
    background: #051C37;
    height: 720px;
    width: 1280px;
    font-size: 30px;
}

#fader {
    position: absolute;
    z-index: 999;
    flex-shrink: 0;
    background: radial-gradient(#051C37, #051C37);
    height: 720px;
    width: 1280px;
    overflow: hidden;
    transition: opacity 0.25s linear;
    pointer-events: none;
    opacity: 1;
}

.notransition {
    transition: none !important;
}

#title {
    font-size: 7em;
    font-family: 'Ashley Crawford';
    font-weight: bolder;
    color: #FFFFFF;
    text-align: center;
    line-height: 1.2;
    margin-top: -15%;
    transform: rotate3d(0, 0, 1, -10deg);
}
#subheading {
    position: absolute;
    width: 100%;
    top: 100px;
    line-height: 1.2;
    font-size: 100px;
    font-family: 'Archivo Narrow';
    color: transparent;
    position: relative;
    text-align: center;
    background-size: contain;
}

#titleSelection {
    position: absolute;
    width: 100%;
    bottom: 100px;
    font-size: 24px;
    font-weight: 900;
    color: #FBC611;
    text-align: center;
}
.playButton {
    position: absolute;
    width: 20%;
    bottom: 100%;
    font-size: 24px;
    font-weight: 900;
    background-color: #191f5588;
    color: #FBC611;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.beginButton {
    position: middle;
    width: 20%;
    font-size: 24px;
    font-weight: 900;
    background-color: #191f5588;
    color: #FBC611;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
}
.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#logo{
    display: inherit;
    margin-top: -70%;
    text-align: center;

}

#titleSlide {
    height: 100%;
    background-color: #051C37;
    background-image: url("../img/bingo-burst-bg-light.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

#howToUseSlide,
#aboutCreditsSlide {
    background-color: #051C37;
    display: none;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 96px 44px 2px 1fr 77px;
    grid-template-areas: "helpHeader"
        "helpNav"
        "helpLine"
        "helpContent"
        "helpFooter";
}

#onboardingSlide {
    background-color: #051C37;
    display: none;
    height: 100%;
}

#SplashBoardSlide {
    display: none;
    height: 100%;
    grid-template-columns: 255px 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "controlsCol  bCol  iCol  nCol  gCol  oCol";
    overflow: hidden;
}

#settingsSlide {
    display: none;
    background-color: #051C37;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 96px 1fr 77px;
    grid-template-areas: "helpHeader"
        "helpContent"
        "helpFooter";
}

#winningPatternSlide {
    display: none;
    background-color: #051C37;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 96px 1fr 77px;
    grid-template-areas: "helpHeader"
        "helpContent"
        "helpFooter";
}

h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 22px 0;
    grid-area: helpHeader;
}

.controlsCol {
    display: flex; /* Enables Flexbox */
    flex-direction: column; /* Aligns items vertically */
    justify-content: space-between; /* Spaces items evenly, including at the top and bottom */
    align-items: center; /* Centers items horizontally (optional) */
    height: 100%; /* Ensures the container takes the full height of its parent */
    gap: 0px;
    grid-area: controlsCol;
}

.bCol {
    grid-area: bCol;
}

.iCol {
    grid-area: iCol;
}

.nCol {
    grid-area: nCol;
}

.gCol {
    grid-area: gCol;
}

.oCol {
    grid-area: oCol;
}

.bingoCol {
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    position: relative;
}

.helpNav {
    grid-area: helpNav;
    font-size: 0;
    width: 720px;
    margin: 0 auto;
    text-align: center;
}

.creditsNav {
    grid-area: helpNav;
    font-size: 0;
    width: 360px;
    margin: 0 auto;
    text-align: center;
}

#helpNavLine,
#creditsNavLine {
    display: none;
}

.helpNavText,
.creditsNavText {
    color: #FBC611;
    height: 41px;
    width: 180px;
    font-size: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: color 0.15s;
}

.helpNavText:hover,
.creditsNavText:hover {
    cursor: pointer;
    opacity: .85;
}

.boldHelp {
    font-weight: 600;
}

.boldHelp:hover {
    opacity: 1;
}

.helpLine {
    grid-area: helpLine;
    border-top: 2px solid #fbc611;
    width: 1100px;
    margin: 0 auto;
}

.helpContent {
    grid-area: helpContent;
    font-size: 22px;
}

#howToUseBasics2,
#howToUseTipsTricks,
#howToUseThanks,
#creditsCredits {
    display: none;
}

.helpFooter {
    grid-area: helpFooter;
    text-align: center;
}

.helpFooterLabel {
    display: inline-block;
    color: #FBC611;
    cursor: pointer;
    font-size: 24px;
    transition: color 0.15s;
    margin: 0.5em 0;
}

.helpFooterLabel:hover {
    opacity: .85;
}

.helpPointer {
    position: absolute;
    background-color: #fac611;
    height: 3px;
    box-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.6);
    border-radius: 0 3px 3px 0;
}

.textLink {
    text-decoration: underline;
    cursor: pointer;
}

#howToUse,
#goToSplashBoard {
    display: inline-block;
    margin: 0 0.7em;
    font-size: smaller;
    cursor: pointer;
    color: #FBC611;
    transition: color 0.15s;
}

.beginButton:hover,
#howToUse:hover,
.playButton:hover,
#play:hover,
#goToSplashBoard:hover {
    opacity: .85;
}

#copyright {
    text-align: center;
    margin-top: -39px;
    font-size: 13.5px;
}

#copyrightLabel {
    cursor: pointer;
    color: #000;
    transition: color 0.15s;
}

#copyrightLabel:hover {
    color: #2d6073;
}

.layer {
    position: absolute;
    width: 1280px;
    height: 720px;
    overflow: hidden;
    pointer-events: none;
}

#fullScreenToggleLayer {
    z-index: 1000;
    display: none;
    transition: opacity 0.25s linear;
}

#drawBallLayer {
    z-index: 2;
    display: none;
    transition: opacity 0.25s linear;
}

#drawBallDiv {
    position: absolute;
    top: 305px;
    left: 48px;
    pointer-events: auto;
    transition: 0.1s;
}

#drawBallButton {
    opacity: .7;
    cursor: pointer;
    width: 135px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid;
    font-weight: bolder;
    border-radius: 30px;
    padding: 10px;
    margin-top: 130%;
    transition: background-color 0.15s;
}

#drawBallButton:hover {
    opacity: 1;
    background-color: #53a3f38a;
}

#hex {}

#hex polygon {
    fill: url(#gradient);
}

#hex:hover polygon {
    fill: rgba(155, 145, 90, 0.8);
}

.fullScreenToggleBig {
    position: absolute;
    pointer-events: auto;
    right: 25px;
    top: 15px;
}

.fullScreenToggleSmall {
    position: absolute;
    pointer-events: auto;
    right: 15px;
    top: 5px;
    transform: scale(0.5);
}

#fullScreenButton,
#fullScreenButtonDown,
#homeButton {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

#homeButton {
    background-image: url("../img/homeButton.svg");
}

#homeButton:hover {
    background-image: url("../img/homeButtonHover.svg");
}

#fullScreenButton {
    background-image: url("../img/fullscreenUp.svg");
}

#fullScreenButtonDown {
    display: none;
    background-image: url("../img/fullscreenDown.svg");
}

#fullScreenButton:hover {
    background-image: url("../img/fullscreenUpHover.svg");
}

#fullScreenButtonDown:hover {
    background-image: url("../img/fullscreenDownHover.svg");
}

.smallMargin {
    margin: 0.5em 0;
}

#bingoB {
    color: #FBC611;
}

#bingoI {
    color: #E653B1;
}

#bingoN {
    color: #7AB6DC;
}

#bingoG {
    color: #B7E6D2;
}

#bingoO {
    color: #F15A25;
}

.bingoLetter {
    font-family: 'Ashley Crawford', 'Archivo Narrow', sans-serif;
    font-weight: 800;
    font-size: 110px;
    text-align: center;
    line-height: 0.9;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px auto 15px auto;
    overflow: hidden;
    z-index: 2;
    position: absolute;
}

.bingoLetter:hover {
    cursor: pointer;
    opacity: .85;
}

.bingoLetterGray {
    color: #B6C9D7;
    opacity: .2;
}

.bingoLetterGray:hover {
    opacity: .85;
}

#blocker {
    position: relative;
    width: 1280px;
    height: 720px;
    margin-top: -720px;
    background-image: linear-gradient(#000000 #000000);
    z-index: 1;
    left: 1287px;
    transition: left 0.5s, opacity 0.3s;
}

.boardToggle {
    width: 85px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 5px auto 25px auto;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.15s;
}

#hideBoard {
    border: 1px solid;
}

#hideBoard:hover {
    background-color: #53a3f38a;
}

#showBoard {
    background-color: #A5357D;
    border: 1px solid;
}

#showBoard:hover {
    background-color: #53a3f38a;
}

.smallButton {
    font-size: 13px;
    cursor: pointer;
    padding: 3px 6px;
    border-radius: 5px;
    transition: background-color 0.15s;
    margin-right: 14px;
}

#reset:hover,
#themes:hover {
    opacity: .85;
}

.bigBingoBallClass {
    background: #899DAF;
    border: 2.5px solid #B6C9D7;
    opacity: 0.21;
}

#bigBingoBall {
    border-radius: 50%;
    width: 186px;
    height: 186px;
    margin: 5px auto 30px;
    cursor: pointer;
}

.bigBingoBallClass:hover {
    opacity: 0.35;
}

#bigBingoLetter {
    font-size: 62px;
    font-weight: 700;
    text-align: center;
    width: 60px;
    margin: 0 auto;
    line-height: 1;
    margin-top: 12px;
}

#bigBingoNumber {
    font-size: 95px;
    font-weight: 700;
    text-align: center;
    width: 110px;
    height: 110px;
    margin: -14px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: font-size 0.1s;
}

#ballsDrawnRemaining {
    width: 193px;
    height: 44px;
    font-size: 24px;
    margin: 0px auto 120px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#ballsDrawn {
    display: none;
    align-items: center;
    justify-content: center;
}

#ballsRemaining {
    display: none;
    align-items: center;
    justify-content: center;
}

#bingoB,
#bingoI,
#bingoN,
#bingoG,
#bingoO {
    margin-top: -10px;
}

.bingoBalls {
    text-align: center;
    margin-top: 132px;
    transition: opacity 0.3s;
}

.bingoBallBall {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 61px;
    height: 61px;
    background: #899DAF;
    margin: 4px 10px;
    font-size: 42px;
    font-weight: 900;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: #B6C9D7;
    color: #000;
    opacity: 0.3;
    transition: all 1s cubic-bezier(0.21, 0.93, 0.27, 0.4);
}

.bingoBallBall:hover {
    opacity: 0.75;
    transform: scale(1.15);
}

.bingoBallBallActiveB,
.bingoBallBallActiveI,
.bingoBallBallActiveN,
.bingoBallBallActiveG,
.bingoBallBallActiveO {
    overflow: hidden;
    text-shadow: #555555 1px 1px 0, 2px 2px 2px rgba(0, 0, 0, 0);
}

.bingoBallBallActiveB {
    border-color: #F29D07;
    color: #FFFFFF;
    opacity: 1;
    font-weight: 700;
    background: radial-gradient(circle at 31.5px 12px, #FBC611, #F29D07);
}

.bingoBallBallActiveI {
    border-color: #E653B1;
    color: #FFFFFF;
    opacity: 1;
    font-weight: 700;
    background: radial-gradient(circle at 31.5px 12px, #A5357D, #E653B1);
}

.bingoBallBallActiveN {
    border-color: #7AB6DC;
    color: #FFFFFF;
    opacity: 1;
    font-weight: 700;
    background: radial-gradient(circle at 31.5px 12px, #4886B6, #7AB6DC);
}

.bingoBallBallActiveG {
    border-color: #B7E6D2;
    color: #FFFFFF;
    opacity: 1;
    font-weight: 700;
    background: radial-gradient(circle at 31.5px 12px, #3ecc91, #B7E6D2);
}

.bingoBallBallActiveO {
    border-color: #FF9676;
    color: #FFFFFF;
    opacity: 1;
    font-weight: 700;
    background: radial-gradient(circle at 31.5px 12px, #F15A25, #FF9676);
}

.bingoBallBallActiveB:hover,
.bingoBallBallActiveI:hover,
.bingoBallBallActiveN:hover,
.bingoBallBallActiveG:hover,
.bingoBallBallActiveO:hover {
    opacity: 0.85;
}

.helpContent #bingoStyleBall,
.helpContent .bingoBallVintage {
    color: #ffffff !important;
    padding: 5px 0;
}

.bingoBallVintage {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 61px;
    height: 61px;
    margin: 4.5px 10px;
    font-size: 52px;
    cursor: pointer;
    color: #ffffff;
    opacity: 0.2;
}

.bingoBallVintage:hover {
    opacity: 0.5;
}

.bingoBallVintageActive {
    opacity: 1;
    font-weight: 700;
}

.bingoBallVintageActive:hover {
    opacity: 0.85;
}

.bigBingoBallVintage {
    opacity: 1;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.3);
}

.bigBingoBallVintage:hover {
    opacity: 0.85;
}

#bingoStyleBall {
    border-radius: 5px;
    transition: background-color 0.15s;
    cursor: pointer;
}

#bingoStyleBall:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#bingoStyleBall:hover .bingoBallBall {
    opacity: 1;
}

#bingoStyleVintage {
    border-radius: 5px;
    transition: background-color 0.15s;
    cursor: pointer;
}

#bingoStyleVintage:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#bingoStyleVintage:hover .bingoBallVintage {
    opacity: 1;
}

.themeSelection {
    font-size: 38px;
    font-weight: 700;
}

.themeSelection span {
    margin: 0 24px;
}

.themeSelection span:first-of-type {
    margin-left: 0;
}

.themeSelection span:last-of-type {
    margin-right: 0;
}
.changeColorOnWhite {
    color: inherit;
}
.themeColor {
    padding: 3px 12px;
    border-radius: 5px;
    transition: background-color 0.15s;
    cursor: pointer;
}

.themeColor:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#dark,
#light,
#blue {
    color: #899DAF;
}

#classic {
    color: #bbbbbb;
}

#red {
    color: #a52a2a;
}

#green {
    color: #3c692b;
}

#purple {
    color: #472f77;
}

#white {
    color: #ffffff;
}

.chromeBingoLetterFix {
    transform: translateX(-50%) translateZ(0);
}

.winningPatternDiv {
    width: 90%;
    height: 201px;
    margin: 5px auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bingoCard {
    display: grid;
    height: 180px;
    width: 150px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid #7f7f7f;
}

.bingoCard:hover {
    cursor: pointer;
    opacity: 0.75;
}

.bigBingoCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid #B6C9D7;
    height: 420px;
    width: 350px;
    font-size: 70px;
    margin-right: 40px;
}

.bingoCardBody {
    font-size: x-large;
    align-content: center;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #B6C9D7;
}

.bingoCardHeader {
    border: 1px solid #B6C9D7;
    text-align: center;
    font-size: 80%;
    line-height: 0.6;
    color: #7AB6DC;
    background: #7f7f7f;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.winningPatternNames {
    width: 600px;
    height: 380px;
    font-size: 27px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.winningPatternNames div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardExplanation {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-style: italic;
}

.winningName,
.bigBingoCardBody {
    transition: color 0.15s, background-color 0.2s;
}

.winningName:hover {
    cursor: pointer;
    opacity: .85;
}

.bigBingoCardBody:hover {
    cursor: pointer;
    background-color: #ddd;
}

.bingoCardActive,
.bingoCardActive2 {
    background-color: #7AB6DC;
}

.bingoCardActive:hover {
    background-color: #f14b3a;
}

.freeSpace {
    color: #000;
}

.twoSections {
    width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Animations */

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

.pulse-element {
    animation: pulse 10s infinite;
}

@-webkit-keyframes color-change {
  0% {
    background-color: #051C37;
  }
  100% {
    background-color: #4886B6;
  }
}
@keyframes color-change {
  0% {
    background-color: #051C37;
  }
  100% {
    background-color: #4886B6;
  }
}


.color-change {
  -webkit-animation: color-change 6s linear infinite alternate both;
          animation: color-change 6s linear infinite alternate both;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(15deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-15deg); }
  100% { transform: rotate(0deg); }
}

.tilting {
    animation: tilt-shaking 5s infinite;
}
